
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

:root {
	--amarelo:#FFD857;
	--azul: #60AAE7;
	--escuro: #1A160A;
	--cinza: #B6A98B;
	--bege: #FFF7E5;

    --white: #fff;
    --midnight-blue: #001177;
    --green-blue: #1068bd;
    --azure: #3c80ff;
	--background: #fafafa;
}

body {  
	background: var(--background);
}

/*----------MENU----------*/
.header {
    display: flex;
	position: fixed;
	z-index: 2;
	width: 100%;
    align-items: center;
    justify-content: center;
	height: 60px;
}

.header .nav .menu {
    list-style: none;
    display: flex;
	align-items:center;
    justify-content: center;
	width: 100vw;
	margin-top: -5px;
	transition: 0.3s; /*tempo para mudar a cor do menu em tela grande*/
}

.header .nav .menu a {
    display: block;
	font-size: 20px;
    padding: 1rem;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.header .nav .menu a:hover {
    text-decoration: underline;
	border-radius: 15px;
}

.mudaCor {
    background-color:#1A160A;
}

.btn-menu {
	display: none;
}

.arrow-down {
    height: 15vh;
    margin-left: 50%;
    transform: translate(-50%, 0);
    background: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/arrow-down.png") no-repeat center;
	background-size: 40px;
}

@media (max-width: 700px) {
    .header{
		background-color: var(--background);
		width: 100%;
		height: 45px;
		justify-content: end;
	}

	.menu {
        display: block;
        position: fixed;
        left: 0;
		width: 100vw;
        background: var(--background);
        text-align: center;
        height: 0;
        z-index: 3;
        /*visibility: hidden;*/
        overflow-y: hidden;
		flex-direction: column;
		transition: 0.0s; /*tempo para fechar menu no celular*/
	}

	.header .nav .menu a {
		color: rgb(0, 0, 0);
		padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
	}

    .btn-menu {
		background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-block: 1rem;
        cursor: pointer;
		margin-top: 5px;
		margin-right: 30px;
		color: #000000;
    }

    .hamburger {
        border-top: 4px solid;
        width: 30px;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 30px;
        height: 4px;
        background: currentColor;
        margin-top: 4px;
        position: relative;
		transition: 0.3s;
    }
    
    .nav.active .menu {
		height: 290px;
		display: flex;
		flex-direction: column;
		margin-top: -10px;
		align-items: center;
        visibility: visible;
		border-radius: 0px 0px 25px 25px;
		transition: 0.5s cubic-bezier(0, 0.9, 0.34, 1.75); /*abrir menu no celular*/
    }

    .nav.active .hamburger {
        border-top-color: transparent;	
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}
/*----------FIM MENU----------*/


/*----------BOTÃO WHATSAPP----------*/
.whats img{
	width: 15%;
	position:fixed;
	bottom: 10px;
	right: 5px;
	z-index: 5;
}

@media screen and (max-width: 730px) {
	.whats img{
		width: 40vw;
	}	
}
/*----------FIM BOTÃO WHATSAPP----------*/


/*----------PRIMEIRA PÁGINA----------*/
.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 85vh;
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;*/
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .5s linear .5s backwards;
}

@keyframes slideContent{0%
    {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.containerproje .slide-container .slide .contentproje h3{
    margin-left: 50px;
    color: var(--white);
    font-size: 100px;
    font-weight: bold;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 20px;
	margin-left: 60px;
    color: var(--white);
    width: 40vw;
    height: 10%;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(./imagens/primeiraPagina/muffato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.containerproje .slide-container:nth-child(3) .slide{
    background: url(./imagens/primeiraPagina/doffee1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.containerproje .slide-container:nth-child(4) .slide{
	background: url(./imagens/primeiraPagina/familia-ferragens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 730px) {

	.containerproje .slide-container .slide .contentproje h3{
		font-size: 50px;
		margin-left: 40px;
	}

	.containerproje .slide-container .slide .contentproje p{
		font-size: 15px;
		margin-left: 45px;
	}

	.containerproje .slide-container:nth-child(2) .slide{
		background: url(./imagens/img3.5.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.containerproje .slide-container:nth-child(3) .slide{
		background: url(./imagens/img9.1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.containerproje .slide-container:nth-child(4) .slide{
		background: url(./imagens/img10.1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
}
/*----------FIM DA PRIMEIRA PÁGINA----------*/


/*----------PRÓXIMO SLIDE----------*/
.prevNext a {
	position: absolute;
	top: 42.5vh;
	width: 98.5vw;
	z-index: 1;
	transition: opacity 0.3s;
	z-index: 1;
  }
  
.prevNext a:hover {
	opacity: .5;
}

#prev a span {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 20px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: rotate(45deg);	
}

#next a span {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 20px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: rotate(225deg);
}
/*----------FIM PRÓXIMO SLIDE---------*/


/*----------A EMPRESA----------*/
#container-empresa {
	display: flex;
	background-color:#fafafa;
}

.aEmpresa{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}

.aEmpresa img{
}

.aEmpresa h2{
	font-size: 45px;
	letter-spacing: 3px;
	margin-top: 45px;
	color: var(--cinza);
	text-decoration: underline;
}

.aEmpresaDois{
	display: flex;
	width: 50%;
}

.aEmpresaDois p{
	margin: 20px 80px 0px 80px;
	font-size: 20px;
	font-weight: 200;
	text-align: justify;
	margin-top: 65px;
	/*letter-spacing: 2px;
	word-spacing: 10px;
	line-height: 40px;*/
	color: black;
}


@media screen and (max-width: 730px) {
	
	#container-empresa {
		display: flex;
		flex-direction: column;
	}

	.aEmpresa{
		width: 100%;
	}

	.aEmpresa img{
		width: 100%;
	}

	.aEmpresa p{
		font-size: 18px;
		margin: 0px 15px 0px 15px;
		text-align: center;
		line-height: 2;
	}

	.aEmpresaDois{
		width: 100%;
	}

	.aEmpresaDois p{
		margin: 0px 20px 20px 20px;
	}
}
/*----------FIM A EMPRESA----------*/


/*----------SERVIÇOS----------*/
#container-servicos {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFD857;
	/*background-image: linear-gradient(to top, var(--azure), var(--background) , var(--azure));*/
}

.servicos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servicos h1{
	margin: 45px 0 15px 0;
	color: rgb(0, 0, 0);
	font-size: 45px;
	text-decoration: underline;
	letter-spacing: 3px;
}

.flex-containerServicos{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	gap: 2em;
}

.flex-containerServicos .flex-item{
	background-color: #fff;
	width: 320px;
	height: 300px;
	text-align: center;
	font-size: 15px;
	border-radius: 0 20px 0 20px;
	box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.flex-containerServicos .iconeServicos {
	background: #e0e5eb;
	border-radius: 50px;
	margin-top: 5px;
}

.flex-item p{
	font-size: 15px;
	text-align:center;
	padding: 10px;
	font-weight: 200;
}

.flex-item h4{
	font-size: 20px;
}

.iconeServicos{
	width: 80px;
	height: 80px;
	padding: 10px;
}
/*----------FIM SERVIÇOS----------*/


/*----------PORTFÓLIO----------*/
.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(180deg,#60aae7 53%,#22334a 0%);
}

.portfolio h1{
	margin: 45px 0px 0px 0px;
	color: rgb(255, 255, 255);
	font-size: 45px;
	letter-spacing: 1px;
}

.flex-containerPortfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.flex-containerPortfolio img{
	border: 10px solid transparent;
	width: 350px;
	height: 280px;
	border: 8px solid white;
	margin: 15px;
}

.flex-containerPortfolio img:hover{
	cursor: pointer;
	/*transform: scale(1.2);*/
	transition: 0.4s;	
}

.azul{
	color: black;
	text-decoration: underline;
}

@media screen and (max-width: 730px) {
	.flex-containerPortfolio{
		margin: 0;
	}

	.flex-containerPortfolio img{
		border: 10px solid transparent;
		width: 270px;
		height: 270px;
		border: 8px solid white;
		margin: 15px;
	}

	.portfolio h1{
		margin: 40px 0 0 0;
		text-align: left;
		font-size: 30px;
	}
}
/*----------FIM PORTFÓLIO----------*/


/*----------CONTATO----------*/
#container-contato{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: var(--escuro);
}

.contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	height: 500px;
	/*box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, 0.2);*/	
}

.contato h1{
	margin-top: 45px;
	font-size: 40px;
	color: white;
	text-decoration: underline;
	letter-spacing: 1px;
}

.entre_em_contato .icone{
	display: flex;
	margin: 35px 15px 0px 15px;
}

.imgContato img{
	display: flex;
	float: left;
	width: 30px;
}

.textoContato{
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.textoContato a {
	text-decoration: none;
	color: white;
}

.textoContato a:hover {
	border-bottom: 2px solid white;
	border-bottom-width: 3px;
}

/*---MAPA---*/
#mapa{
	width: 40vw;
	height: 450px;
	margin-top: 25px;
	box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 730px) {

	#mapa{
		width: 100vw;
	}
}
/*---FIM MAPA---*/

@media screen and (max-width: 730px) {

	.contato {
		width: 100vw;
	}

	#mapa{
		width: 100vw;
	}

	.contato h1{
		font-size: 25px;
	}

	.imgContato img{
		margin-left: 10px;
		width: 35px;
	}

	.textoContato{
		font-size: 0.8rem;
	}

	.entre_em_contato .icone{
		display: flex;
		margin: 35px 15px 0px 10px;
	}
}
/*----------FIM CONTATO----------*/


/*----------ANIMAÇÕES----------*/
@keyframes go-back{
	0%{
		transform: translateX(700px);
	}
	50%{
		transform:translateX(-100px);
	}
	100%{
		transform:translateX(0px);
	}
}

@keyframes mudaCor { 
	0% { 
	  color: transparent; 
	} 
	100% { 
	  color: black; 
	}
}
/*----------FIM ANIMAÇÕES----------*/


/*----------RODAPÉ----------*/
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 300px;
	font-size: 15px;
	background-color: #292d33;
	color: var(--white);
}

.footer p{
	font-weight: 200;
}
/*----------FIM RODAPÉ----------*/




